<html>
<head>
  <title>team</title>

</head>

<body>


  <h1>Le duo de choc</h1>  

  <div class="container">
      <div class="card mb-6 shadow-sm">
          <div class="card-body">
              <h3 class="card-title">Julien</h3>
          </div>
          <div class="card mb-6 shadow-sm">
          <div class="card-body">
              <h3 class="card-title">Mauricette</h3>
          </div>
      </div>
      

  </div>

</body>



</html>
